<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SNS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
<!--     <welcome-file>/WEB-INF/view/member/auth/login.jsp</welcome-file>-->
     <welcome-file>/WEB-INF/view/member/Auth/login.jsp</welcome-file>
   </welcome-file-list>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>Controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Message</servlet-name>
    <jsp-file>/sendMessage.jsp</jsp-file>
  </servlet>
   <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>
  
  <!-- Filter -->
	<filter>
		<filter-name>UTF_8_Filter</filter-name>
		<filter-class>Filter.UTF_8_Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UTF_8_Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>